In [72]:
# import libraries

from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
import datetime

import smtplib

In [68]:
# Connect to website

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1&customizationToken=MC_Assembly_1%23B0752XJYNL'
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id = "productTitle").get_text()
# price  = '$15.99'
price = soup2.find(class_="aok-offscreen").get_text()

print(title)
print(price)

                  Got Data Funny Business Data Analyst T-Shirt


                  About this item

In [69]:
# price = price.strip()[1:]
price = price.strip()
title = title.strip()

print(title)
print(price)

Got Data Funny Business Data Analyst T-Shirt
About this item

In [70]:
today = datetime.date.today()
print(today)

2025-07-21

In [71]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]

# with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
#     writer = csv.writer(f)
#     writer.writerow(header)
#     writer.writerow(data)

In [83]:
df = pd.read_csv(r'C:\Users\charv\AmazonWebScraperDataset.csv')
df

                                          Title            Price        Date
0  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
1  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
2  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
3  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
4  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21

In [82]:
#now we are appending data to the csv
with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [84]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1&customizationToken=MC_Assembly_1%23B0752XJYNL'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers = headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id = "productTitle").get_text()
    price = soup2.find(class_="aok-offscreen").get_text()

    price = price.strip()
    title = title.strip()

    today = datetime.date.today()
    print(today)

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [85]:
while(True):
    check_price()
    time.sleep(5)

2025-07-21
2025-07-21
2025-07-21

KeyboardInterrupt:

In [86]:
df = pd.read_csv(r'C:\Users\charv\AmazonWebScraperDataset.csv')
df

                                          Title            Price        Date
0  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
1  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
2  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
3  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
4  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
5  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
6  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21
7  Got Data Funny Business Data Analyst T-Shirt  About this item  2025-07-21